

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>DoStuff</h3>
        </div>

        <div class="section">
        <ul class="list-unstyled components">
            <li>
                <a href="{{ url_for('tasks.new_project') }}">New Project</a>
            </li>
            <li class="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Projects</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    {% for project_nav in project_list %}
                    <li>
                        <a href="{{ url_for('tasks.specific_project', project_id=project_nav.id) }}">{{ project_nav.project_name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>

        </ul>

        </div>

    </nav>

