{% extends 'layouts/design.html' %}



{% block content %}




<div class="main_page mx-auto py-auto">
  <div class="row">
   <div class="col-sm-6 col-sx-12  align-items-center ">
    <section class="project">



        <header class="section-header">
            <div>
                <h1>Welcome to DoStuff!</h1>
            </div>
        </header>

        <div class="dropdown-divider"></div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper pharetra nisl a sagittis. Duis placerat
                placerat augue quis malesuada. Donec varius sodales est, quis suscipit dui imperdiet sagittis. Nam at nisi id
               magna aliquet blandit. Morbi volutpat enim id volutpat pellentesque. Duis vel dui lectus. Integer tincidunt
               dui dui, sed pulvinar est fringilla congue. Ut sit amet est at purus egestas laoreet.</p>
        </div>

        <div class="dropdown-divider"></div>

        <div id="new_user_proj">

            <div>
                <p style="padding-top: 7px; padding-bottom: 7px; margin-bottom: 0px">To start, create new project</p>
            </div>
            <div style="margin-right: 10px;">
                <button type="button" class="btn" style="background-color: transparent; color: #fff">
                    <span>Menu</span>
                </button>
            </div>

        </div>





    </section>
   </div>
  </div>
</div>





{% endblock content %}