{% extends 'layouts/anonymous.html' %}

{% block content %}

<form action="" method="POST">

    {{ form.hidden_tag() }}

    <fieldset class="form-group">

        <div class="form-group">
            <label for="mail">{{ form.email.label }}</label>

            {% if form.email.errors %}
            <input type="email" class="form-control is-invalid" id="mail_invalid" name="email">
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <input type="email" class="form-control" id="mail" placeholder="name@example.com" name="email">
            {% endif %}
        </div>


    </fieldset>

    <div class="form-group">
        {{ form.request(class="btn btn-outline-info btn-block") }}
    </div>


</form>


{% endblock %}